* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mouse Memoirs', sans-serif;
}

.header {
    background: radial-gradient(white,#ffd6d6);
}

.menuIco {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.container {
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 25px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: rgb(124, 112, 112);
}

p {
    color: rgb(124, 112, 112);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .row {
    margin-top:70px;
}

.maint {
    flex-basis: 50%;
    min-width: 300px;
}

.maint img {
    max-width: 100%;
    height: 400px;
    padding: 50px 50px;
}

.maint h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

#logoImg {
    width: 110px;
    height: 70px;
}

.categories {
    margin: 70px 0;
}

.categor-small {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col img {
    width: 100%;
}



.col-2 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    font-size: 20px;
    transition: transform 0.5s;
    cursor: pointer;
}


.col-himars {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    font-size: 20px;
    transition: transform 0.5s;
}

.col-2 img {
    width: 100%;
}

.col-himars img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(124, 112, 112);
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: rgb(124, 112, 112);
    font-weight: normal;
}

.col-2 p{
    font-size: 18px;
}

.col-2:hover {
    transform: translateY(-5px);
}

.rating .fa {
    color: #ff523b;
}

.footer {
    background: black;
    color: #8a8a8a;
    font-size: 16px; 
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.foot-col, .foot-col-2, .foot-col-3, .foot-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

li {
    cursor: pointer;
}

.foot-col {
    flex-basis: 30%;
}

.foot-col-2 {
    flex: 1;
    text-align: center;
}

.foot-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.foot-col-3, .foot-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.down-logo {
    margin-top: 20px;
}

.down-logo img {
    width: 140px;
    cursor: pointer;
}

.rowProducts {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: white;
}

.one {
    text-align: center;
}

.one .col-himars img {
    padding: 0;
}

.one .col-himars {
    padding: 20px;
}

.one h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.one select {
    display: block;
    padding: 10px;
    margin-top: 20px
}

.one input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

.one .fa {
    color: #ff523b;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.next-img-row {
    display: flex;
    justify-content:space-between; 
}

.next-img-col {
    flex-basis: 20%; 
    cursor: pointer;
}

#mainImg {
    height: 400px;
    width: 310px;
}

.smallImg {
    height:100px;
    width:250px;
}

.toCart {
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    cursor: pointer;
}

.toCart:hover {
    background: #563434;
}


#h1Cart{
    width: 3%;

    top: 10px;
    left: 90%;
    cursor: pointer;
}
#h1Cart:before{
    content: attr(data-count);
    color: white;
    position: absolute;
    font-size: 15px;
    text-align: center;
    top: 50px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    opacity: 0;
}
#h1Cart.zero:before{
    opacity: 1;
}

.col-himars span{
    position: absolute;
    top: 14px;
    left: 13px;
    background: red;
    width: 300px;
    height: 186px;
    display: none;
}
.col-himars span img{
    width: 100%;
    height: 100%;
}
.col-himars:nth-child(1)>span.active{
    animation: first 0.5s ease-in;
    z-index: 2;
    display: block;

}
.col-himars:nth-child(2)>span.active{
    animation: second 0.5s ease-in;
    z-index: 2;
    display: block;

}
.col-himars:nth-child(3)>span.active{
    animation: third 0.5s ease-in;
    z-index: 2;
    display: block;

}
.col-himars:nth-child(4)>span.active{
    animation: four 0.5s ease-in;
    z-index: 2;
    display: block;

}

@keyframes first{
    to{
        width: 30px;
        height: 20px;
        left: 1290px;
        top: -70px;
    }
}
@keyframes second{
    to{
        width: 30px;
        height: 20px;
        left: 948px;
        top: -70px;
    }
}
@keyframes third{
    to{
        width: 30px;
        height: 20px;
        left: 606px;
        top: -70px;
    }
}
@keyframes four{
    to{
        width: 30px;
        height: 20px;
        left: 265px;
        top: -70px;
    }
}



.select{
    width: 60%;
    height: 580px;
    padding: 5%;
    background: #222;
    position: absolute;
    top: -1000px;
    /* left: 20%; */
    transition: 0.5s;
    overflow-y: auto;
    margin: auto;
}
.select.display{
    top: 10px;
}
.select .item{
    display: block;
    width: 100%;
    height: 200px;
    display: flex;
    padding: 5px;
    border: 1px solid white;
    position: relative;
    margin: 5px auto;
}
.select .item #mainImg{
    display: block;
    width: 300px;
    height: 100%;
}
.select .items p{
    display: block;
    padding: 35px;
    color: white;
}
.select .item h4,
.select .item .toCart{
    display: block;
    position: absolute;
    left: 45%;
    top: 50%;
    color: white;
}
.select .item .toCart{
    display: block;
    left: 60%;
    top: 55%;
}
.select .item span{
    display: none;
}


/* for slider */

.imageSlides {
    display: none
  }
   
  img {
    margin: auto;
    display: block;
    width: 100%;
  }
   
  .images-slideshow {
    max-width: 612px;
    position: relative;
    margin: auto;
  }
   
  .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  .previous {
    left: 2%;
  }

  .next {
    right: 2%;
  }

  .previous:hover,
  .next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
  }

/* registration */

.account-page {
    padding: 50px 0;
    background: radial-gradient(white,#ffd6d6);
}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.form-container span {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1 px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}


/* aboba shop cart */

.shopping-cart {
    margin-left: 10px;
    font-size: 1.4rem;
}

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size:large;
}

.shoppingCartButton {
    cursor: pointer;
}

.shoppingCartButton:hover,
.account:hover * {
    color: #0e5e53;
}

.producstOnCart {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}

.producstOnCart::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
    visibility: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #c24c37;
    cursor: pointer;
}

.top button:hover {
    color: #e40505;
}

.top h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #297075;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}

.overlay {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

.stopScrolling {
    height: 100vh;
    overflow: hidden;
}

.buyItem h6 {
    margin-bottom: 10px;
}

.buyItem button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}

.buyItem button:active {
    color: #96c8cc;
}

.buyItem > div {
    padding: 0 20px;
}

.producstOnCart .empty {
    justify-self: center;
    margin: 150px auto;
}

.price {
    color: #dd3333;
    margin-top: 10px;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
}






@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 100px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s; 
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: white;
    }

    .menuIco {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col,.col-2,.col-3,.maint {
        flex-basis: 100%;
    }
}