.container {  
    width: 300px;  
    height: 300px;  
    border: 5px solid red;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    }  
    button {  
    background-color: lightblue;  
    color: black;  
    font-size: 25px;  
    }  
#triangle {
    position: absolute;
    top: 0px;
}
