html {
	font-size: 12px;
	font-family: 'Playfair Display', serif;
}

body {
    --def: #96B7C4; 	
	--inv: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 120vh;
	width: 100%;
	background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
}

.main_block {
    display: flex;
    height: calc(100% + 80px);
    align-items: stretch;
    border: 1px solid black;
    position: absolute;
    left: calc(200px);
    width: calc(100% - 400px);
    text-align: center;
}

.profile_settings {
    background-color: rgb(23, 32, 46);
    width: 160px;
    border-right: 1px solid black;
    flex-direction: column;
    align-items: flex-start;
}

.second_part {
  background-color: rgb(23, 32, 46);
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.searchField {
    background-color: rgb(77, 170, 194);
    height: 60px;
    width: 100%;

    flex-direction:row;
    align-items: flex-start;
    display: flex;
}

.summary {
  background-color: rgb(36, 216, 186);
  height: 160px;
  width: 100%;

  flex-direction:column;
  align-items: flex-start;
}

.appForm {
  background-color: rgb(54, 36, 216);
  height: 500px;
  width: 100%;

  flex-direction:row;
  align-items: flex-start;
  display: flex;
}

.resume {
  padding-left: 10px;
  border-right: 1px solid black;
  width: 35%;
  height: 500px;
}

.resumeP2 {
  border-right: 1px solid black;
  width: 35%;
  height: 500px;
  margin-left: 15px;
}

.footer {
  color: black;
  font-size: 12px;
}

.toSend {
  width: 30%;
  height: 300px;
  overflow: hidden;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
	align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

 div[class*=box] {
  height: 43.33%;
  width: 90%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FF6766; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }
.box-4 { background-color: #e9e627; }

.btnSend {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}


.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
} */


.form {
      max-width: 70%;
      font-family: Verdana;
      text-align: center;
      margin: 10px auto;
}

.form-control {
      margin: 60px auto;
      height: 50px;
      text-align: left;
      margin-bottom: 25px;
}

.form-control label {
      display: block;
      margin-bottom: 10px;
}

#name, #lastname, #age {
  height: 10px;
  width: 200px;
}

.form-control input,
  .form-control select,
  .form-control textarea {
      height: 10px;
      border: 1px solid #777;
      border-radius: 2px;
      font-family: inherit;
      padding: 10px;
      display: block;
      width: 40%;
}

  .form-control input[type="radio"],
  .form-control input[type="checkbox"] {
      display: inline-block;
      width: auto;
  }


button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}




.mainInfo {
  font-family: Monospace;
  font-weight:300;
  height: 60px;
  border-right: 1px solid black;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.categoriesMain {
  flex-direction:row;
  height: 100px;
  border-right: 1px solid black;
  font-size: 17px;
}

.btnCountry {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.btnCountry:hover {
  color:#000000;
  background-color:#FFFFFF;
}

.bouncy { 
  animation:bouncy 5s infinite linear;
  position:relative;
}

@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}

.menu {
    border: 1px solid black;
    width: 70px;
    height: 60px;
}

.search {
    border: 1px solid black;
    width: 500px;
    height: 60px;
}

.addContact, .addEvent, .menuSearchField {
    border: 1px solid black;
    width: 71px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.dropbtn {
    background-color: rgb(77, 170, 194);
    color: white;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3b69ce;}


  
  .tb {
    display: table;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    }
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
  }
  
  #cover {
    width: 500px;
    height: 60px;
    background-color: rgb(77, 170, 194);
    border-radius: 20px;
    box-shadow: 0 10px 40px #353fca, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
  }
  
  form {
    height: 60px;
  }
  
  .searchT  {
    padding-left: 20px;
    padding-bottom: 10px;
    width: 500px;
    height: 60px;
    font-size: 60px;
    line-height: 1;
  }
  
  .searchT::placeholder {
    color: #5375be;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 30px;
  }
  
  button {
    position: relative;

    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -20px;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 45px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
  }
  


.photo {
    border: 1px solid black;
    height: 100px;
}

.main_prof_stuffs {
    border: 1px solid black;
    height: 250px;
}

.admin_settings {
    border: 1px solid black;
    height: 165px;
}

.categories {
    border: 1px solid black;
    height: 198px;
}

.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nickname {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    color: white;
}

.nickname:hover {
    box-shadow:2px 2px 10px white;
}

.mainName {
    margin-right: 60px;
    color: white;
    font-size: 14px;
}

.iconName {
    padding-left: 4px;
}

.main_prof_stuffs a {
    display: flex;
    position: relative;
    padding: 8px;
    align-items: center;
}

.admin_settings a { 
    display: flex;
    position: relative;
    padding: 8px;
    align-items: center;
}


.btn {		
	position: relative;	
	font-size: 1.1rem;
	color: var(--inv);
	text-transform: uppercase;
    letter-spacing: 0.3em;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
    top: 0;
	width: 0;
	height: 100%;
    left: 0;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
    width: 100%;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
  width: 100%;
}



.toggle, .toggle2, .toggle3, .toggle4{
    left: 15px;
    margin-right: 10px;
    --uiToggleSize: var(--toggleSize, 2rem);
    --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
    --uiToggleColor: var(--toggleColor, rgb(146, 69, 69));
  
    display: var(--toggleDisplay, inline-flex);
    position: absolute;
  }

  .toggle2{
    margin-top: 40px;
    --uiToggleColor: var(--toggleColor, rgb(90, 69, 146));
  }

  .toggle3{
    margin-top: 80px;
    --uiToggleColor: var(--toggleColor, rgb(39, 189, 209));
  }

  .toggle4{
    margin-top: 120px;
    --uiToggleColor: var(--toggleColor, rgb(189, 41, 115));
  }
  
  .toggle__input{
    width: var(--uiToggleSize);
    height: var(--uiToggleSize);
    opacity: 0;
  
    position: absolute;
  }
  
  
  .toggle__label{
    display: inline-flex;
    min-height: var(--uiToggleSize);
    padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
  }
  
  .toggle__input:not(:disabled) ~ .toggle__label{
    cursor: pointer;
  }
  

  .toggle__label::after{
    content: "";
    box-sizing: border-box;  
    width: 1em;
    height: 1em;
    font-size: var(--uiToggleSize); 
  
    background-color: transparent;
    border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  
  .toggle__input:checked ~ .toggle__label::after{
    background-color: var(--uiToggleColor);
  }
  
  .toggle__text{
    color: white;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .toggle__label::before{
    content: "";
    width: 0;
    height: 0;
    font-size: var(--uiToggleSize); 
  
    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--toggleArrowColor, #fff);
  
    position: absolute;
    top: .5428em;
    left: .25em;
    z-index: 3;
  
    transform-origin: left top;
    transform: rotate(-40deg) skew(10deg);
  }
  
  .toggle__input:checked ~ .toggle__label::before{
    --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  
    width: .4em;
    height: .2em;
    border-left-width: var(--uiToggleArrowWidth);
    border-bottom-width: var(--uiToggleArrowWidth);
  }
  
 
  
  .toggle:focus-within, .toggle2:focus-within, .toggle3:focus-within, .toggle4:focus-within{
    outline: var(--toggleOutlineWidthFocus, 3px) solid var(--toggleOutlineColorFocus, currentColor);
    outline-offset: var(--toggleOutlineOffsetFocus, 5px);
  }



